<footer class="footer bg-dark text-white mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About BMI Calculator</h5>
          <p>This BMI Calculator is designed to help you calculate your Body Mass Index easily.</p>
        </div>
  
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Phone: +92-316-8795376</p>
        </div>
  
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="https://www.instagram.com/techcraft.ltd/?igsh=MTEwd3pwa2E1ejNobw%3D%3D" target="_blank" class="text-white me-2"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/techcraft-ltd/?viewAsMember=true" target="_blank" class="text-white"><i class="fab fa-linkedin"></i></a>
          <a href="https://umair-ishtiaq.github.io/techcraft/" target="_blank" class="text-white mx-2">
            <i class="fas fa-globe"></i>
        </a>
        
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 BMI Calculator. All Rights Reserved by TechCraft </p>
      </div>
    </div>
  </footer>
  